language: python

python:
  - '2.7'
  - '3.5'
  - '3.6'

env:
  - PYTHONPATH=${PWD}

script:
  - if [[ $TRAVIS_PYTHON_VERSION != 2.7 ]]; then /bin/bash ./scripts/check_code_style.sh; fi
  - pip install paddlepaddle; /bin/bash ./scripts/test_cml.sh
  - /bin/bash ./scripts/test_all_module.sh

notifications:
  email:
    on_success: change
    on_failure: always
