pre-commit
protobuf >= 3.1.0
yapf == 0.26.0
pyyaml
numpy < 1.17.0
Pillow
six >= 1.10.0
chardet == 3.0.4
requests
pandas < 0.25.0
flake8
flask >= 1.1.0
tb-paddle
tensorboard >= 1.15
cma == 2.7.0
sentencepiece
nltk
