pre-commit
protobuf >= 3.6.0
yapf == 0.26.0
six >= 1.10.0
flask >= 1.1.0
flake8
visualdl
cma >= 2.7.0
sentencepiece
colorlog
tqdm
nltk

# pandas no longer support python2 in version 0.25 and above
pandas ; python_version >= "3"

# gunicorn not support windows
gunicorn >= 19.10.0; sys_platform != "win32"
