sphinx==3.1.2
sphinx-markdown-tables==0.0.15
sphinx_materialdesign_theme==0.1.11
recommonmark==0.6.0
sphinx-serve==1.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
